html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 60px;
}

#map {
    margin-top: 70px;
    height: 400px;
    width: 100%;
}

#graph {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}

ul.nav.nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.text-large {
    font-size: 20px;
}

.text-gray {
    color: lightslategrey;
}

.social-media-logo {
    width: 270px;
    height: 50px;
}